body {
    background-color: rgb(2, 71, 42);
}

.head {
    background-color: lawngreen;
    border-color: lawngreen;
    border-radius: 50px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 12px;
    font-family: 'Brush Script MT', cursive;
}

.head:hover {
    background-color: white;
    border-color: white;
    color: lawngreen;
}

.image {
    float: left;
    width: 1250px;
    height: 1245px;
    margin-right: 50px;
}

.icon {
    width: 35px;
    margin-top: 25px;
}

.head {
    float: right;
    margin-top: 25px;
}

h3, h1, button {
    color: white;
}

h3 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-top: -38px;
    margin-right: 990px;
}

h1 {
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
}

.start {
    color: rgb(250, 209, 155);
}

.features, .launch {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Brush Script MT', cursive;
    background-color: lawngreen;
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    border-color: lawngreen;
    cursor: pointer;
    margin-bottom: 50px;
}

.launch:hover {
    background-color: white;
    border-color: white;
    color: lawngreen;
}

.contacts {
    width: 35px;
    margin-right: 10px;
}

p {
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
}

p:hover {
    color: rgb(250, 209, 155);
}

@media only screen and (max-width: 850px) {
    .image {
        width: 375px;
        height: 500px;
    }

    .nav {
        margin-right: 30px;
    }

    #intro {
        margin-right: 95px;
    }

    h1 {
        font-size: 50px;
    }

    .icon {
        margin-top: 25px;
    }

    .launch {
        font-size: 15px;
        width: 250px;
    }

    p {
        font-size: 20px;
    }

    .contacts {
        width: 20px;
    }
}