body {
    background-color: rgb(2, 71, 42);
}

* {
    box-sizing: border-box;
    font-family: 'Calibre', sans-serif;
    color: #fff;
  }

.container {
    display: flex;
    flex-direction: row;
}


.item1 {
    flex: 50%;
}

img {
    border-radius: 1%;
}

.item2 {
    flex: 50%;
    margin-left: 2rem;
}

@media only screen and (max-width: 850px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .item1 {
        flex: 100%;
    }

    .item2 {
        flex: 100%;
        margin-left: 0.5rem;
    }
    
    img {
        width: 100%;
        height: 100%;
    }

    .icon {
        width: 5%;
        height: 5%;
    }
}