body {
    background-color: rgb(2, 71, 42);
}

* {
    box-sizing: border-box;
    font-family: 'Calibre', sans-serif;
    color: #fff;
  }

.container {
    display: flex;
    flex-direction: row;
}


.item1 {
    flex: 50%;
}

.item2 {
    flex: 50%;
    margin-left: 2rem;
}

img {
    border-radius: 1%;
}

.photo {
    width: 5rem;
    border-radius: 10%;
    margin-right: 10px;
}